.home_container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height */
  background-color: #f9f9f9; /* Light background for the page */
  padding: 4rem;
}


.hme {
  letter-spacing: 5px;
}
hme1 {
  font-size: smaller;
 }
