 <header class="header" id="header">
    <div class="header__container">
        <a href="#" class="header__logo">
            <i class="fa-solid fa-cloud"></i>
            <span>Bookshelf</span>
        </a>

    <button class="header__toggle" id="header-toggle" data-controller="sidebar" data-action="click->sidebar#showSidebar">
        <i class="fa-solid fa-bars"></i>
    </button>
    </div>
</header>