<nav class="sidebar" id="sidebar">
    <div class="sidebar__container">
    <div class="sidebar__user">
        

        <div class="sidebar__info">
            <h3>User</h3>
            <span>user@email.com</span>
        </div>
    </div>

    <div class="sidebar__content">
        <div>
            <h3 class="sidebar__title">MANAGE</h3>

            <div class="sidebar__list">
                <a href="#" class="sidebar__link active-link">
                <i class="fa-solid fa-chart-simple"></i>
                <span>Dashboard</span>
                </a>
                
                <a href="#" class="sidebar__link">
                <i class="fa-solid fa-book"></i>
                <span>Books</span>
                </a>

                <a href="#" class="sidebar__link">
                <i class="fa-solid fa-user"></i>
                <span>Profile</span>
                </a>

            </div>
        </div>

        <div>
            <h3 class="sidebar__title">SETTINGS</h3>

            <div class="sidebar__list">
                <a href="#" class="sidebar__link">
                <i class="fa-solid fa-gear"></i>
                <span>Settings</span>
                </a>

                <a href="#" class="sidebar__link">
                <i class="fa-solid fa-envelope"></i>
                <span>Notifications</span>
                </a>
            </div>
        </div>
    </div>

    <div class="sidebar__actions">
        <button>
            <i class="ri-moon-clear-fill sidebar__link sidebar__theme" id="theme-button">
                <span>Theme</span>
            </i>
        </button>

        <button class="sidebar__link">
            <i class="ri-logout-box-r-fill"></i>
            <span>Log Out</span>
        </button>
    </div>
    </div>
</nav>
