<h1>Your Libraries</h1>

<%# Libraries Table Section %>
<% if @libraries.any? %>
  <table class="table table-bordered my-3">
    <thead>
      <tr>
        <th>Library Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @libraries.each do |library| %>
        <tr>
          <td><%= library.name %></td>
          <td>
            <%= link_to 'View', library_path(library), class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You are not associated with any libraries. Consider joining or creating a library.</p>
<% end %>

<%= link_to "Create New Library", new_library_path, class: 'btn btn-success my-3' %>
<%= link_to "Back to Home", root_path, class: 'btn btn-secondary' %>
