<style>
  .books-container {

  }

  .book-card {
    width: ;
    padding: auto;
    border: ;
    background-color: ;
  }

  .status {

  }

  .book-image {

  }

  .book-title {

  }

  .book-description {

  }

  .more-info-btn {

  }

</style>
<h1>Books</h1>
<%= link_to "dashboard", %>
  <div class="books-container">
    <% @books.each do |book| %>
      <div class="book-card">
        <div class="status"><%= book.status %>
          <%= book.available? "Available" : "Not available" %>
        </div>
        <div class="book-image">
          <img scr="" class="book-img">
        </div>
        <h3 class="book-title"><% book.title %></h3>
        <p class="book-description"><% book.description %></p>
        <%= link_to "More info", book_path, class: "more-info-btn" %>
  </div>
  <% end %>
</div>
