// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "components/registration_signin_out";
@import "pages/form_acess";
@import "components/header";
@import "components/sidebar";
@import 'components/breakpoints';
@import "pages/book_index";
@import "pages/book_show";
@import "pages/add-book-form";


//bootstrap_variables
@import "config/_bootstrap_variables";

@import "components/tables";

html, body {
  height: 100%;
  margin: 0;

}

.layout {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent scrolling if not needed */
}

/* Sidebar styling */
.sidebar-layout {
  flex: 0 0 250px; /* Fixed width for the sidebar */
  background-color: #f4f4f4; /* Example background */
  border-right: 1px solid #ddd; /* Optional border for separation */
  height: 100%;
  overflow-y: auto; /* Scrollable sidebar if content overflows */
}

/* Content area styling */
.content-layout {
  flex: 1; /* Takes the remaining space */
  padding: 20px; /* Add some padding for better readability */
  overflow-y: auto; /* Scrollable content if needed */
}