// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "components/registration_signin_out";
@import "pages/form_acess";
@import "components/header";
@import "components/sidebar";
@import 'components/breakpoints';
@import "pages/book_index";
@import "pages/book_show";
@import "pages/add-book-form";


//bootstrap_variables
@import "config/_bootstrap_variables";

@import "components/tables";

html, body {
  height: 100%;
  margin: 0;

}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.dashboard-layout {
    height: 100%;
    flex: 1;
    background-color: $white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }



.content-area-layout {
    background-color: blue;
    border-radius: 5px;
    margin: 0;
  }


.sidebar-layout {
    flex: 1;
    background-color: $white;
  }

